/**Media**/

body, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
    font-size: large;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.topnav {
    background-color: #4a90e2;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #357abf;
}

/* Index Page */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    /* gap: 10px; */
}

#nav {
    grid-column: span 3;
}

#img {
    grid-column: span 1;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 25px;
    margin-right: 30%;
    margin-left: 30%;
}


#kcon{
  
    /* height: auto;
    width:150px; */
    max-width: 100%;
    height: auto;
    object-fit: fill;
}

.title{
    background-color: #4a90e2;
    margin-bottom: 30px;
    font-family: monospace;
}


#main {
    text-align:left;
    grid-column: span 2 ; 
    grid-row: span 2;
    margin-top: 50px;
    background-color: navy;
    color: white;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
   padding-left: 80px;
    
}

#right {
    grid-column: 3;
    grid-row: 3;
    background-color: navy;
}
#concert{
    width: 300px;
    align-items: right ;
    padding-top: 80px;
}

#previous {
    grid-column: span 2;
    margin-top: 70px;
}
.grid-item{
    text-align: center;
}

#footer{
        background-color: #F1F1F1;
        text-align: center;
        padding: 10px;
        grid-column: span 2;
}



/* Schedule */
.schedule {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scheduleItem {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    align-items: center;
}

.scheduleItem:hover {
    background-color: #f0f0f0; 
}

.scheduleContent {
    display: none;
    letter-spacing: 2px;
}

.scheduleItem #arrow1,
.scheduleItem #arrow2,
.scheduleItem #arrow3 {
    font-size: 20px;
    margin-right: 10px; 
}

.scheduleItem.active + .scheduleContent {
    display: block;
}

/* Events Table */
body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.topnav {
    grid-column: 1 / -1;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #67aae0;
}

th, td {
    border: none;
    padding: 8px;
    text-align: left;
}

h2 {
    text-align: center;
    margin: 0;
}
h3, h4{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
}
img {
    width: auto;
    height: auto;
}

/* Guest Section */
table {
    border-collapse: separate;
    border-width: 10px; 
    border-style: inset;
    border-color: #96acd4;
    width: 100%;
}

th, td {
    color: #fff; 
    font-family: Arial, sans-serif; 
    font-size: 16px;
    padding: 15px; 
}

th[colspan="3"] {
    font-size: 24px; 
    text-align: center; 
}







